body {
    background-color: floralwhite;
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }

  .container {
    text-align: center;
  }

  img {
    width: 50%;
    display: block;
    margin: auto;
  }
  
  ul {
    text-align: left;
  }

  #bakersul {
    text-align: center;
  }